body {
    background: #000;
    color: white;
}

.container {
    width: 500px;
}

.lamp {
    position: relative;
    height: 130px;
    text-align: center;
    opacity: 0.7;
    width: 120px;
    float: left;
}

ul {
    list-style-type: none;
}

.hb {
    content: " ";
    width: 0; height: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
}

.h {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    position: absolute;
    vertical-align: middle;
    line-height: 60px;
    font-size: 36px;
 }


.ha {
    content: "";
    width: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    margin-top: 60px;
    top: 30px;
}

.o {
    width: 104px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.lamp:hover {
    opacity: 1;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}


.h.red {
    background-color: red;    
}
.hb.red {
    border-bottom: 30px solid red;
}
.ha.red {
    border-top: 30px solid red;
}

.h.green {
    background-color: green;    
}
.hb.green {
    border-bottom: 30px solid green;
}
.ha.green {
    border-top: 30px solid green;
}

.h.blue {
    background-color: blue;    
}
.hb.blue {
    border-bottom: 30px solid blue;
}
.ha.blue {
    border-top: 30px solid blue;
}

.h.blue2 {
    background-color: blue;    
}
.hb.blue2 {
    border-bottom: 30px solid blue;
}
.ha.blue2 {
    border-top: 30px solid blue;
}

.h.yellow {
    background-color: #cccc00 ;    
}
.hb.yellow {
    border-bottom: 30px solid #cccc00 ;
}
.ha.yellow {
    border-top: 30px solid #cccc00 ;
}

.h.orange {
    background-color: GoldenRod  ;    
}
.hb.orange {
    border-bottom: 30px solid GoldenRod  ;
}
.ha.orange {
    border-top: 30px solid GoldenRod  ;
}
